body{
    background-color: #222831;
    text-align: center;
    margin: 160px 0px 80px 0px;
    font-family: "Quicksand", sans-serif;
}
h1{
    color: #222831;
}
.cardContainer{
    display: grid;
    width: 90%;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto auto;
}
.card{
    border: 3px solid white;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    text-align: center;
    box-shadow: 10px 0px #225b80;
}
footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0px;
    background-color: antiquewhite;
    font-size: 20px;
}
footer ul{
    display: inline-flex;
    list-style: none;
}
footer li{
    margin: 0px 100px;

}
footer a,img{
    margin:0px 5px;
    text-decoration: none;
    color: black;
}
.botonDeCompra{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(65, 137, 230, .15);
    color: #3483fa;
}
.botonDeCompra:hover{
    background-color: rgba(65, 137, 230, .5);
    border-width: 5px;
    cursor:pointer;
}
.header{
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #222831;
}
#carrtitoYContador{
    display: flex;
}
#contadorCarrito{
    background-color: #8b8ea6b0;
    margin: 0px;
    height: fit-content;
    border-radius: 20px;
    padding: 4px;
}
.divPreciosProductosConDescuento{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: 0; */
}

#cardContainerCarrito{ 
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    /* border: 2px solid white; */
    border-radius: 20px;
}
#comprarProductos h4{
    background-color: #225b80;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px;
    color: white;
    padding: 20px 0px;
    font-size: 30px;
}
#comprarProductos h5{
    margin: 0px;
    padding: 20px 0px;
    color: rgb(199, 192, 192);
    font-size: 15px;
}
.productosEnCarrito{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}
.productosEnCarrito img p{
    margin: 0px 10px;
}
#botonComprarYBorrar{
    padding: 10px;
    background-color: #225b80;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.botonesComprarYBorrarCarrito{
    width: 180px;
    height: 40px;
    margin-left: 40px;
    background-color: #222831;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
}
.botonesComprarYBorrarCarrito:hover{
    background-color: #6a7e9d;
    color: #fff;
    cursor: pointer;
}
.franjaRojaDescuento{
    display: flex;
    position: relative;
}
.deOferta{
    position: absolute;
    background-color: #225b80;
    color: white;
    width: 328px;
    transform: rotate(39deg);
    margin-top: 96px;
    right: -23px;
    border-radius: 10px;
}
.botonRestarCantidad, .botonSumarCantidad{
    font-size: 23px;
}
.botonRestarCantidad:hover, .botonSumarCantidad:hover{
    cursor: pointer;
}
.tachado{
    text-decoration: line-through;
}
.divCarritoCantidades{
    display: flex;
}
.imagenCarritoCompras{
    width: 100px;
    height: 120px;
}
.tituloCarritoCompras{
    margin: 0px 10px;
    width: 460px;
    font-size: 20px;
}
.btnEliminarCarritoCompras{
    color: #3483fa;
    cursor: pointer;
    text-decoration-line: underline;
    font-size: 15px;
}
.precioCarritoCompras{
    margin: 0px 10px;
    width: 55px;
    font-size: 20px;
}
.divPreciosDescuentoCarrito{
    display: contents;
    /* margin */
}
.divCantidades{
    display: flex;
    margin: 0px 10px;
    width: 70px;
    justify-content: space-between;
    align-items: center;
}
.totalCarritoCompras{
    margin: 0px 10px;
    font-size: 20px;
    width: 100px;
}
.totalCompraCarritoCompras{
    display: flex;
    background: aliceblue;
    justify-content: flex-end;
    font-size: 22px;
}
.avisoCompraRealizada{
    font-size: 25px;
}
.pCantidad{
    font-size: 20px;
    margin: 0px 5px;
}
#pTotalCarrito{
    margin-right: 10px;
}

/*SECCION TOOLTIP*/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: 134%;
    left: -2px;
    margin-left: 0px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /*MOSTRAR MENSAJE AL AGREGAR PRODUCTO*/
  .mensajeProductoAgregado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800%);
    background-color: #61e85e;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }