body{
    background-color: #002500;
    text-align: center;
    margin: 160px 0px 80px 0px;
}
h1{
    color: antiquewhite;
}
.cardContainer{
    display: grid;
    background-color: #929982;
    width: 90%;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto auto;
}
.card{
    border: 3px solid white ;
    border-radius: 15px;
    background-color: #495F41;
    margin: 15px;
    text-align: center;
}
footer{
    bottom: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0px;
    background-color: antiquewhite;
    font-family: monospace;
    font-size: 20px;
}
footer ul{
    display: inline-flex;
    list-style: none;
}
footer li{
    margin: 0px 100px;

}
footer a,img{
    margin:0px 5px;
    text-decoration: none;
    color: black;
}
.botonDeCompra:hover{
    border-color: #002500;
    border-width: 5px;
    cursor:pointer;
}
.header{
    background-color: #929982;
    position: absolute;
    top: 0;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#carrtitoYContador{
    display: flex;
}
#contadorCarrito{
    background-color: red;
    margin: 0px;
    height: fit-content;
    border-radius: 20px;
    padding: 4px;
}
#cardContainerCarrito{ 
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
    border: 2px solid black;
}
#comprarProductos h4{
    background-color: #495F41;
    margin: 0px;
    padding: 20px 0px;
    font-size: 30px;
    color: antiquewhite;
}
#comprarProductos h5{
    margin: 0px;
    padding: 20px 0px;
    color: rgb(199, 192, 192);
    font-size: 15px;
}
.productosEnCarrito{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    background-color: #779a6a;
    justify-content: space-between;
}
.productosEnCarrito img p{
    margin: 0px 10px;
}
#botonComprarYBorrar{
    padding: 10px;
    background-color: #779a6a;
    display: flex;
    justify-content: flex-end;
}
#botonComprarYBorrar button{
    width: 180px;
    height: 40px;
    background-color: #235e0f;
    font-size: 15px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
}
#botonComprarYBorrar button:hover{
    background-color: #032f04;
}